{% extends "layout.html" %}

{% block content %}
<div class="jumbotron mt-4">
    <span class="img"></span>
        <h1 class="display-4">Notes App Notejs and Mongodb</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit error nobis tenetur cupiditate at adipisci sunt, distinctio, illum, repellendus iste sit. Ipsum id incidunt suscipit quibusdam ducimus eius quas magnam.</p>
        <hr class="my-4">
        <a href="#" class="btn btn-4">FazWeb</a>
    </div>
{% endblock %}