body {
    background: #1488cc
}

.logo {
    width: 35%;
}

.card {
    box-shadow: 0 -5px 15px -1px rgba(0 , 0, 0, 0.8);
    border: none;
}

.card {   
    background: linear-gradient(to top, #f6b323, #f23b26 );
    overflow: hidden;
}

.card:before {
    content: '';
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #f6b323, #f23b26 );
}